{
  "storage": {
    "type": "filesystem",
    "config": {
      "path": "/snapshots",
      "dirShards": null
    }
  },
  "caching": {
    "cacheDirectory": "cache",
    "maxCacheSize": 5242880000,
    "maxMetadataCacheSize": 5242880000,
    "maxListCacheDuration": 30
  },
  "hostname": "homesys",
  "username": "root",
  "description": "Fileserver Backups",
  "enableActions": false,
  "formatBlobCacheDuration": 900000000000
}
